logic-apps-api/GetGrittingPrediction/workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {},
    "triggers": {
      "manual": {
        "type": "Request",
        "kind": "Http",
        "inputs": {
          "schema": {
            "type": "object",
            "properties": {
              "route_id": {
                "type": "string"
              },
              "latitude": {
                "type": "number"
              },
              "longitude": {
                "type": "number"
              }
            },
            "required": ["route_id", "latitude", "longitude"]
          },
          "method": "POST"
        }
      }
    },
    "actions": {
      "Get_Weather_Data": {
        "type": "Http",
        "runAfter": {},
        "inputs": {
          "method": "GET",
          "uri": "https://api.open-meteo.com/v1/forecast",
          "queries": {
            "latitude": "@{triggerBody()?['latitude']}",
            "longitude": "@{triggerBody()?['longitude']}",
            "current": "temperature_2m,apparent_temperature,relative_humidity_2m,wind_speed_10m,precipitation,weather_code",
            "hourly": "temperature_2m,precipitation_probability",
            "forecast_days": "1",
            "timezone": "auto"
          }
        }
      },
      "Weather_API_Error_Response": {
        "type": "Response",
        "runAfter": {
          "Get_Weather_Data": ["Failed", "TimedOut"]
        },
        "inputs": {
          "statusCode": 502,
          "headers": {
            "Content-Type": "application/json"
          },
          "body": {
            "success": false,
            "error": "Failed to fetch weather data from Open-Meteo API"
          }
        }
      },
      "Parse_Weather_Response": {
        "type": "ParseJson",
        "runAfter": {
          "Get_Weather_Data": ["Succeeded"]
        },
        "inputs": {
          "content": "@body('Get_Weather_Data')",
          "schema": {
            "type": "object",
            "properties": {
              "current": {
                "type": "object",
                "properties": {
                  "temperature_2m": { "type": "number" },
                  "apparent_temperature": { "type": "number" },
                  "relative_humidity_2m": { "type": "number" },
                  "wind_speed_10m": { "type": "number" },
                  "precipitation": { "type": "number" },
                  "weather_code": { "type": "integer" }
                }
              },
              "hourly": {
                "type": "object",
                "properties": {
                  "temperature_2m": {
                    "type": "array",
                    "items": { "type": "number" }
                  },
                  "precipitation_probability": {
                    "type": "array",
                    "items": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      },
      "Initialize_Precipitation_Type": {
        "type": "InitializeVariable",
        "runAfter": {
          "Parse_Weather_Response": ["Succeeded"]
        },
        "inputs": {
          "variables": [
            {
              "name": "precipitation_type",
              "type": "string",
              "value": "none"
            }
          ]
        }
      },
      "Set_Precipitation_Type": {
        "type": "Switch",
        "runAfter": {
          "Initialize_Precipitation_Type": ["Succeeded"]
        },
        "expression": "@body('Parse_Weather_Response')?['current']?['weather_code']",
        "cases": {
          "Snow": {
            "case": 71,
            "actions": {
              "Set_Snow": {
                "type": "SetVariable",
                "inputs": {
                  "name": "precipitation_type",
                  "value": "snow"
                }
              }
            }
          },
          "Snow_73": {
            "case": 73,
            "actions": {
              "Set_Snow_73": {
                "type": "SetVariable",
                "inputs": {
                  "name": "precipitation_type",
                  "value": "snow"
                }
              }
            }
          },
          "Snow_75": {
            "case": 75,
            "actions": {
              "Set_Snow_75": {
                "type": "SetVariable",
                "inputs": {
                  "name": "precipitation_type",
                  "value": "snow"
                }
              }
            }
          },
          "Snow_77": {
            "case": 77,
            "actions": {
              "Set_Snow_77": {
                "type": "SetVariable",
                "inputs": {
                  "name": "precipitation_type",
                  "value": "snow"
                }
              }
            }
          },
          "Snow_85": {
            "case": 85,
            "actions": {
              "Set_Snow_85": {
                "type": "SetVariable",
                "inputs": {
                  "name": "precipitation_type",
                  "value": "snow"
                }
              }
            }
          },
          "Snow_86": {
            "case": 86,
            "actions": {
              "Set_Snow_86": {
                "type": "SetVariable",
                "inputs": {
                  "name": "precipitation_type",
                  "value": "snow"
                }
              }
            }
          },
          "Rain_51": {
            "case": 51,
            "actions": {
              "Set_Rain_51": {
                "type": "SetVariable",
                "inputs": {
                  "name": "precipitation_type",
                  "value": "rain"
                }
              }
            }
          },
          "Rain_53": {
            "case": 53,
            "actions": {
              "Set_Rain_53": {
                "type": "SetVariable",
                "inputs": {
                  "name": "precipitation_type",
                  "value": "rain"
                }
              }
            }
          },
          "Rain_55": {
            "case": 55,
            "actions": {
              "Set_Rain_55": {
                "type": "SetVariable",
                "inputs": {
                  "name": "precipitation_type",
                  "value": "rain"
                }
              }
            }
          },
          "Rain_61": {
            "case": 61,
            "actions": {
              "Set_Rain_61": {
                "type": "SetVariable",
                "inputs": {
                  "name": "precipitation_type",
                  "value": "rain"
                }
              }
            }
          },
          "Rain_63": {
            "case": 63,
            "actions": {
              "Set_Rain_63": {
                "type": "SetVariable",
                "inputs": {
                  "name": "precipitation_type",
                  "value": "rain"
                }
              }
            }
          },
          "Rain_65": {
            "case": 65,
            "actions": {
              "Set_Rain_65": {
                "type": "SetVariable",
                "inputs": {
                  "name": "precipitation_type",
                  "value": "rain"
                }
              }
            }
          },
          "Rain_80": {
            "case": 80,
            "actions": {
              "Set_Rain_80": {
                "type": "SetVariable",
                "inputs": {
                  "name": "precipitation_type",
                  "value": "rain"
                }
              }
            }
          },
          "Rain_81": {
            "case": 81,
            "actions": {
              "Set_Rain_81": {
                "type": "SetVariable",
                "inputs": {
                  "name": "precipitation_type",
                  "value": "rain"
                }
              }
            }
          },
          "Rain_82": {
            "case": 82,
            "actions": {
              "Set_Rain_82": {
                "type": "SetVariable",
                "inputs": {
                  "name": "precipitation_type",
                  "value": "rain"
                }
              }
            }
          },
          "Rain_95": {
            "case": 95,
            "actions": {
              "Set_Rain_95": {
                "type": "SetVariable",
                "inputs": {
                  "name": "precipitation_type",
                  "value": "rain"
                }
              }
            }
          },
          "Sleet_56": {
            "case": 56,
            "actions": {
              "Set_Sleet_56": {
                "type": "SetVariable",
                "inputs": {
                  "name": "precipitation_type",
                  "value": "sleet"
                }
              }
            }
          },
          "Sleet_57": {
            "case": 57,
            "actions": {
              "Set_Sleet_57": {
                "type": "SetVariable",
                "inputs": {
                  "name": "precipitation_type",
                  "value": "sleet"
                }
              }
            }
          },
          "Sleet_66": {
            "case": 66,
            "actions": {
              "Set_Sleet_66": {
                "type": "SetVariable",
                "inputs": {
                  "name": "precipitation_type",
                  "value": "sleet"
                }
              }
            }
          },
          "Sleet_67": {
            "case": 67,
            "actions": {
              "Set_Sleet_67": {
                "type": "SetVariable",
                "inputs": {
                  "name": "precipitation_type",
                  "value": "sleet"
                }
              }
            }
          },
          "Sleet_96": {
            "case": 96,
            "actions": {
              "Set_Sleet_96": {
                "type": "SetVariable",
                "inputs": {
                  "name": "precipitation_type",
                  "value": "sleet"
                }
              }
            }
          },
          "Sleet_99": {
            "case": 99,
            "actions": {
              "Set_Sleet_99": {
                "type": "SetVariable",
                "inputs": {
                  "name": "precipitation_type",
                  "value": "sleet"
                }
              }
            }
          }
        },
        "default": {
          "actions": {}
        }
      },
      "Initialize_Precipitation_Probability": {
        "type": "InitializeVariable",
        "runAfter": {
          "Set_Precipitation_Type": ["Succeeded"]
        },
        "inputs": {
          "variables": [
            {
              "name": "precipitation_probability",
              "type": "float",
              "value": "@if(greater(length(coalesce(body('Parse_Weather_Response')?['hourly']?['precipitation_probability'], createArray())), 0), first(body('Parse_Weather_Response')?['hourly']?['precipitation_probability']), 0)"
            }
          ]
        }
      },
      "Initialize_Forecast_Min_Temp": {
        "type": "InitializeVariable",
        "runAfter": {
          "Initialize_Precipitation_Probability": ["Succeeded"]
        },
        "inputs": {
          "variables": [
            {
              "name": "forecast_min_temp",
              "type": "float",
              "value": "@if(greater(length(coalesce(body('Parse_Weather_Response')?['hourly']?['temperature_2m'], createArray())), 0), min(body('Parse_Weather_Response')?['hourly']?['temperature_2m']), body('Parse_Weather_Response')?['current']?['temperature_2m'])"
            }
          ]
        }
      },
      "Initialize_Road_Surface_Temp": {
        "type": "InitializeVariable",
        "runAfter": {
          "Initialize_Forecast_Min_Temp": ["Succeeded"]
        },
        "inputs": {
          "variables": [
            {
              "name": "road_surface_temp",
              "type": "float",
              "value": "@sub(body('Parse_Weather_Response')?['current']?['temperature_2m'], 1.5)"
            }
          ]
        },
        "description": "Road surface temp is typically 1.5°C lower than air temp due to thermal radiation"
      },
      "Call_Prediction_API": {
        "type": "Http",
        "runAfter": {
          "Initialize_Road_Surface_Temp": ["Succeeded"]
        },
        "inputs": {
          "method": "POST",
          "uri": "@{appsetting('PREDICTION_API_URL')}/predict",
          "headers": {
            "Content-Type": "application/json"
          },
          "body": {
            "route_id": "@triggerBody()?['route_id']",
            "weather": {
              "temperature_c": "@body('Parse_Weather_Response')?['current']?['temperature_2m']",
              "feels_like_c": "@body('Parse_Weather_Response')?['current']?['apparent_temperature']",
              "humidity_pct": "@body('Parse_Weather_Response')?['current']?['relative_humidity_2m']",
              "wind_speed_kmh": "@body('Parse_Weather_Response')?['current']?['wind_speed_10m']",
              "precipitation_type": "@variables('precipitation_type')",
              "precipitation_prob_pct": "@variables('precipitation_probability')",
              "road_surface_temp_c": "@variables('road_surface_temp')",
              "forecast_min_temp_c": "@variables('forecast_min_temp')"
            }
          }
        }
      },
      "Prediction_API_Error_Response": {
        "type": "Response",
        "runAfter": {
          "Call_Prediction_API": ["Failed", "TimedOut"]
        },
        "inputs": {
          "statusCode": 502,
          "headers": {
            "Content-Type": "application/json"
          },
          "body": {
            "success": false,
            "error": "Failed to get prediction from the prediction API"
          }
        }
      },
      "Response": {
        "type": "Response",
        "runAfter": {
          "Call_Prediction_API": ["Succeeded"]
        },
        "inputs": {
          "statusCode": 200,
          "headers": {
            "Content-Type": "application/json"
          },
          "body": {
            "success": true,
            "prediction": "@body('Call_Prediction_API')?['prediction']",
            "weather": {
              "temperature_c": "@body('Parse_Weather_Response')?['current']?['temperature_2m']",
              "feels_like_c": "@body('Parse_Weather_Response')?['current']?['apparent_temperature']",
              "humidity_pct": "@body('Parse_Weather_Response')?['current']?['relative_humidity_2m']",
              "wind_speed_kmh": "@body('Parse_Weather_Response')?['current']?['wind_speed_10m']",
              "precipitation_type": "@variables('precipitation_type')",
              "precipitation_prob_pct": "@variables('precipitation_probability')",
              "road_surface_temp_c": "@variables('road_surface_temp')",
              "forecast_min_temp_c": "@variables('forecast_min_temp')"
            },
            "weather_source": "open-meteo"
          }
        }
      }
    },
    "outputs": {}
  },
  "kind": "Stateful"
}
